* {
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #1F2937;
  height: 450px;
}

.header-logo {
  color: white;
  font-size: 23px;
  margin-left: 155px;
}

.top-row {
  display: flex;
  padding-top: 10px;
  gap: 20px;
}


.right-item-1 {
  margin-left: auto;
}

.right-item-3 {
  margin-right: 200px;

} 





a { 
  text-decoration: none; 
  color: #c5c9cf;
}

a:hover {
  color: aliceblue;
}

.top-info {
  margin-top: 100px;
  margin-left: 145px;
}

.only-btn {
  background-color: #3882F6;
  color: white;
  font-weight: bolder;
  border: none;
  margin-top: 7px;
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.only-btn:hover {
  background-color: #95bbf7;
}

h1 {
  font-size: 35px;
  color: #F9FAF8;
}

p {
  color: #e5e7eb;
}

.flex-container {
  display: flex;
}



.top-img {
  margin-left: 800px;
  margin-bottom: 200px;
  


}

.grey-img {
  height: 100%;
  width: 350px;

}

.second-container {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 30px;
  background-color: #95bbf7;
  height: 350px;
}


.rand-info {
  display: flex;
  justify-content: center;
  padding-top: 25px;
  color: black;
  background-color: #95bbf7;
}



.square-img {
  width: 200px;
  height: 200px;
}






