* {
  margin: 0;
  padding: 0;
}

.top-container {
  background-color: #1F2937;
  height: 400px;
}

.header-logo {
  color: white;
  font-size: 23px;
  margin-left: 155px;
}

.top-row {
  display: flex;
  padding-top: 10px;
  gap: 20px;
}


.right-item-1 {
  margin-left: auto;
}

.right-item-3 {
  margin-right: 200px;

} 





a { 
  text-decoration: none; 
  color: #c5c9cf;
}

a:hover {
  color: aliceblue;
}

.top-info {
  margin-top: 100px;
}






